th{
    color:red;
}
.premiere{
    padding-left: 10px;
    padding-right:  80px;
}
.deuxieme{
    padding-left: 10px;
    padding-right:  80px;
}
.troixieme{
    padding-left: 10px;
    padding-right:80px;
}
button{
    width:100px;
    height: 40px;
    
}
.center{
    text-align: center;
}




    

 
